:root {
  --brown-color: #a54c2c;
  --pink-color: #ee758f;
}

/* #ffbfcd */
/* 483a35 */

body {
  box-sizing: border-box;
}

.page-content {
  margin-left: 4%;
}

.side-bar {
  background: rgba(248, 249, 250, 1);
  border-right: 1px solid rgb(232, 230, 230);
  width: 4%;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.bi-person-circle:active {
  border: none;
  min-width: 80;
  min-width: 80;
}

@media (min-width: 1400px) {
  .col-xxl-1,
  .col-lg-1,
  .col-md-1,
  .col-sm-2 {
    max-width: 4%;
  }
}

@media (min-width: 400px) {
  .page-content {
    margin-left: 4%;
  }
}

.user-picture {
  border: 2px solid var(--pink-color);
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.text-padding {
  padding-left: 0.5em;
  color: var(--pink-color);
}

.user-name {
  color: var(--pink-color) !important;
}

.btn-primary {
  background-color: #ee758f !important;
  border: none !important;
}

.btn-primary:active {
  background-color: #954a5b !important;
  transform: translateY(2px);
}

.btn-primary:hover {
  background-color: #db5472 !important;
}

.table.rounded {
  border-radius: 10px;
}

.balance-text {
  color: var(--pink-color);
}
